@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');

/*scrollbar*/
:root{
    --primary: rgb(0, 122, 204);
}

  *::-webkit-scrollbar {
    width: .5rem;                  
  }

  *::-webkit-scrollbar-track {
    background: #292929;            
  }

  *::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #9896ce);
    -webkit-border-radius: 2rem;
    border-radius: 2rem;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #96ceb4)
  }
  
/*-------------------------*/

  
*{
    font-family: "Open Sans", sans-serif;
    scrollbar-width: thin;          
    scrollbar-color: #9896ce #292929;   
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--secondary);
    color: var(--fontcolor);
}

/*-------------------Header ----------------*/

header {
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--third);
    z-index: 1;
}

nav {
    display: flex;
    height: 100%;
}

nav img {
    scale: 100%;
}

.nav_button {
    background-color: var(--third);
    color: var(--fontcolor);
    height: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 0px;
}

.nav_button:hover {
    background-color: var(--secondary);
}

.nav_button:focus {
    border-bottom: solid blue 5px;
}

#img_compte {
    scale: 70%;
}

#bouton_compte {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third);
    border: none;
    width: 50px;
    height: 50px;
}

#haut{
    margin-top: calc(10vh + 20px);
}

h2{
    margin-left: 30px;
}

#gauche{
    margin-left: 30px;
}
.bouton{
    color: #3d4852;
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 30px;
    
}
a.bouton {
    align-items: center;
    background-color: #3d4852;
    border: 1px solid #3d4852;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    margin-right: 5em;


}

a.boutonL{
    margin-right: 6em;
    align-self: flex-end;
}

a.bouton:hover,
a.bouton:focus {
    background-color: #58636F;
    box-shadow: 0 0 2px 2px #bac6d3;
}

a.bouton:focus {
    outline: 1px solid #3d4852;
}

a.bouton:visited {
    color: #fff;
}

.top{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.book{
    width: 10em;
    height: 10em;
    margin-left: 10px;
    margin-top: 10px;

}
.liv{
    border: 0px solid black;
    border-radius: 4px;
    margin-left:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--fontcolor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.liv>h3,p{
    margin-left: 10px;
}

/*-----------festivals-----------*/
.affiche_fest{
    width:65%;
    height: 100%;
    display: block;
    margin-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box_fest{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 7px;
    margin-top: 50px;
    background-color: #087ccc;
    border:solid 0px #087ccc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    background: linear-gradient(-45deg, #52bdee, #2577ea, #438a9e, #233ed5);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	
 
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.text_fest{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    padding-right: 10%;
}

.bouton_fest{
    margin-top:30px;
}

footer{
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

/*newsletter*/

.newsletter{
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

#email{
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 4px;
    width: 15em;
    height: 1.4em;
    font-size: 1.1em;

}
.bouton_nl{
    background-color: #58636F;
    border: none;
    padding:10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
   }

.bouton_nl:hover,
.bouton_nl:focus
{
    background-color: #58636F;
    box-shadow: 0 0 2px 2px #bac6d3;
}

.bouton_nl:focus{
    outline: 1px solid #3d4852;
}


::placeholder{
    color: rgb(59, 59, 59);

}


.topo_newsletter{
    color : rgb(255, 255, 255);
    width: 600px;
    height: 250px;
    background-image: url("../images/topography2.png");
    border-radius: 15px;
    background-size: 100%;
    text-align: center;

    
}

.text-news{
    font-size: 1.35em;
    padding-top: 3em;
}


/*-------------------Page évènement-------------------*/

.grid_event{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    margin-top: 10vh;
    margin-bottom: 20px;
}


.box_event{
    margin-left: auto;
    margin-right: auto;
    width: 70em;
    height: fit-content;
    display: grid;
    grid-template-columns: 35% 65%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #087ccc;
    border:solid 0px #087ccc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    background: linear-gradient(-45deg, #52bdee, #2577ea, #438a9e, #233ed5);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;  
}

.img_event{
    width: 20em;
    height:25em;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.text_event{
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    padding-right: 10%;
    font-size: 1.5em;
}

.box_tri{
  
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 10px;

}

#tri{
    width: 10em;
    height: 1.5em;
    border-radius: 4px;
    border: none;
    background-color: #3f3f3f;
    color: white;
    font-size: 1.2em;
    font-weight: lighter;
    margin-left: 10px;
    padding-left: 5px;
}

.boutonTri{
    padding: 7px 15px;
    color:#333;
    font-weight: lighter;
    background-color: #ffd17b;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px #efa424;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
}

.boutonTri:hover{
    box-shadow:0 3px #efa424;
    top: 2px;
}

.boutonTri:active{
    box-shadow: 0 0 #efa424;
    top: 6px;
}

.box_tri>h2{
    margin-bottom: 20px;
}