:root{
    --primary: rgb(0, 122, 204);
  }
  
  *{
    margin: 0;
  }
  
  body{
    font-family: Poppins, sans-serif;
    height: 100vh;
    color: var(--fontcolor);
    background-color: var(--secondary);
  }

  
  h1, h2{
    color: var(--fontcolor);
    font-weight:600;
  }


  /* ############################################ HEADER ############################################ */
  
  header {
    display: flex;
    position: fixed;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--third);
}

nav {
    display: flex;
    height: 100%;
}

.nav_button {
  background-color: var(--third);
  color: var(--fontcolor);
  height: 100%;
  padding: 10px;
  border: 0px;
  border-radius: 0px;
}

.nav_button:hover {
  background-color: var(--secondary);
}

.nav_button:focus {
  border-bottom: solid blue 5px;
}

#img_compte {
    scale: 70%;
}

#bouton_compte {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third);
  border: none;
  width: 50px;
  height: 50px;}
/*####################### CONTENU #############################*/

#titre{
    margin: 100px 0px 15px 10px;
    font-size: 2em;
}

.grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#imageLivre{
    width: 20em;
    margin-left: 10px;
   
}

.desc{
    margin-left: -50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
}

#Tdescription{
    margin-bottom: 10px;
}

#description{
    font-size: 0.9em;
}

.achat{
    margin-left: 30px;
    margin-top: 10px;
}

#logoSite{
    width: 15%;
    height: 8%;
    margin-bottom: 10px;
    margin-left: 5px;

}




#Tachat{
    margin-bottom: 20px;
}

.bookre{
    text-align: center;
    margin-top: -70px;
    font-size: 1.5em;
}

#BookRead{
    margin-left: -72px;
}

.box{
  width:1.2em;
  height:1.2em;
}

.info{
    margin-left:20px;
    margin-top: -20px;
}

.testRating{
    color:#aaa;
    background-color: var(--secondary);
    text-decoration: none;
    font-size: 3.8em;
    transition: color .4s;
    border:0px;
}

.testRating:hover,
.testRating:focus,
.testRating:hover ~ .testRating,
.testRating:focus ~ .testRating {
    color: orange;
    cursor: pointer;
}


.rating{
    direction: rtl;
    grid-row-start: 2;
    grid-column-start: 3;
    margin-right: 20px;
}

  .rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3.8em;
    transition: color .4s;
  }
  .rating a:hover,
  .rating a:focus,
  .rating a:hover ~ a,
  .rating a:focus ~ a {
    color: orange;
    cursor: pointer;
  }

.box_comment h3{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;

}

.box_comment textarea{
    font-size: 1.2em;
    width: 80%;
    height: 100px;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    padding-left: 15px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;    margin-bottom: 10px;
    margin-left: 20px;
    resize: none;
}

.box_comment input{
    border-radius: 4px;
    border: 0px;
    padding: 8px;
    font-size: 0.9em;
    margin-left: 20px;
    color : var(--fontcolor);
    background-color: var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
.box_comment input:hover{
    background-color: var(--third);
    cursor: pointer;
}


.grid_comment{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
}

.box_comment{
  border: 0px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.box_comment h2{
  margin-bottom: 10px;
}

.box_comment p{
  margin-left:20px;
}

.avisUser{
  padding-top: 5px;
  padding-left: 20px;

}

.comment{
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 0.3px solid var(--fontcolor);
  margin-bottom: 10px;

}

.noteStar{
  color:orange;
  font-size: 1.2em;
}