:root{
    --primary: rgb(0, 122, 204);
  }
  
  *{
    margin: 0;
  }
  
  body{
    font-family: Poppins, sans-serif;
    height: 100vh;
    color: var(--fontcolor);
    background-color: var(--secondary);
  }

  
  h1, h2{
    color: var(--fontcolor);
    font-weight:600;
  }


  /* ############################################ HEADER ############################################ */
  
  header {
    display: flex;
    position: fixed;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--third);
}

nav {
    display: flex;
    height: 100%;
}

.nav_button {
  background-color: var(--third);
  color: var(--fontcolor);
  height: 100%;
  padding: 10px;
  border: 0px;
  border-radius: 0px;
}

.nav_button:hover {
  background-color: var(--secondary);
}

.nav_button:focus {
  border-bottom: solid blue 5px;
}

#img_compte {
    scale: 70%;
}

#bouton_compte {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third);
  border: none;
  width: 50px;
  height: 50px;}
/*####################### CONTENU #############################*/

#titre{
    margin: 100px 0px 15px 10px;
    font-size: 2em;
}

.grid{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    
}

#imageLivre{
    width: 20em;
    margin-left: 10px;
    max-width: 100%;
    display: block;
   
}

.desc{
    font-size: 1.3em;
    width: 40%;
    
}

#Tdescription{
    margin-bottom: 10px;
}

#description{
    font-size: 0.9em;
}

.achat{
  width: 20%;
    margin-left: 30px;
    margin-top: 10px;
}

#logoSite{
    width: 15%;
    height: 8%;
    margin-bottom: 10px;
    margin-left: 5px;

}


#Tachat{
    margin-bottom: 20px;
}

.add{
  text-align: center;
}

.addButton{
  display: block;
  margin: auto;
  margin-top: 10px;
  bottom:3em;
  color: var(--fontcolor);
  background-color: var(--third);
  border:none;
  padding:5px;
  font-size: 1.2em;
  border-radius: 7px;
  width: 5.4em;
  height: 2em;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;    margin-bottom: 10px;
}

.addButton:hover {
  cursor: pointer;
  border: rgba(9, 30, 66, 0.25) 1px solid;
}

.bookre{
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
}

#BookRead{
    margin-left: -72px;
}

.box{
  width:1.2em;
  height:1.2em;
}

.info{
    margin-left:20px;
    margin-top: -20px;
}

.ratingStar{
    color:#aaa;
    background-color: var(--secondary);
    text-decoration: none;
    font-size: 3.8em;
    transition: color .4s;
    border:0px;
}

.ratingStar:hover,
.ratingStar:focus,
.ratingStar:hover ~ .ratingStar,
.ratingStar:focus ~ .ratingStar {
    color: orange;
    cursor: pointer;
}


.rating{
    direction: rtl;
    grid-row-start: 2;
    grid-column-start: 3;
    margin-right: 20px;
}



.box_comment h3{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;

}

.box_comment textarea{
    font-size: 1.2em;
    width: 80%;
    height: 100px;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    padding-left: 15px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;    margin-bottom: 10px;
    margin-left: 20px;
    resize: none;
}

.box_comment input{
    border-radius: 4px;
    border: 0px;
    padding: 8px;
    font-size: 0.9em;
    margin-left: 20px;
    color : var(--fontcolor);
    background-color: var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
.box_comment input:hover{
    background-color: var(--third);
    cursor: pointer;
}


.grid_comment{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
}

.box_comment{
  border: 0px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.box_comment h2{
  margin-bottom: 10px;
}

.box_comment h2 span{
  font-size: 0.8em;
  margin-left: 10px;
  font-weight: normal;
}

.box_comment p{
  margin-left:20px;
}

.avisUser{
  padding-top: 5px;
  padding-left: 20px;

}

.comment{
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 0.3px solid var(--fontcolor);
  margin-bottom: 10px;

}

.dateComment{
  font-size: 0.8em;
  border: var(--third) 1px solid;
  padding: 2px;
  border-radius: 5px;
  background-color: var(--third);
  margin-left: 10px;
}

.noteStar{
  color:orange;
  font-size: 1.2em;
}


/*####################### responsive #############################*/

@media screen and (max-width: 1024px) {
    .grid{
        display: grid;
        grid-template-rows: 33% 33% 33%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .desc{
        width: 100%;
        margin : auto;
        text-align: left;
    }

    #imageLivre{
        width: 60%;
          margin-left: 20px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .achat{
      text-align: right;
        width: 50%;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .rating{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0.6em;
    }
    /*responsive bouton ajouter collection et lu et possedé*/

    .add{
      display: grid;
       grid-template-rows: 50% 50%;
       margin-left: 10px;
       margin-right: 10px;
    }

    .add h2{
        font-size: 1.2em;
    }


    .addButton{
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.1em;
    }

    .bookre{
        font-size: 0.9em;
    }

    #BookRead{
      margin-left: -44px;
    }

    #BookHave{
      margin-top: 10px;
    }

    /*responsive information*/
    .info{
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .info h2{
        font-size: 1.2em;
    }

    .info p{
        font-size: 0.9em;
    }

    .grid_comment{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .box_comment{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .box_comment textarea{
        width: 90%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .box_comment input{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .avisUser{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .comment{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .dateComment{
        margin-left: 3px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .noteStar{
        margin : 1px;
    }
  }