:root{
    --primary: rgb(0, 122, 204);
  }
  
  *{
    margin: 0;
  }
  
  body{
    font-family: Poppins, sans-serif;
    height: 100vh;
  }
  
  h1, h2{
    color: var(--fontcolor);
    font-weight:600;
  }


  /* ############################################ HEADER ############################################ */
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--third);
}

nav {
    display: flex;
    height: 100%;
}

.nav_button {
  background-color: var(--third);
  color: var(--fontcolor);
  height: 100%;
  padding: 10px;
  border: 0px;
  border-radius: 0px;
}

.nav_button:hover {
  background-color: var(--secondary);
}

.nav_button:focus {
  border-bottom: solid blue 5px;
}

#img_compte {
    scale: 70%;
}

#bouton_compte {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third);
  border: none;
  width: 50px;
  height: 50px;}

  /* ############################################ CONTENU ############################################ */

#contenu {
    height: 90%;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(155, 124, 124);
}

#gauche {
    width: 22%;
}

#filtre {
    height: 100%;
    background-color: white;
}

#genre {
    margin-left: 10px;
}

#droite {
    width: 78%;
}

.rating {
  direction: rtl;
  grid-row-start: 2;
  grid-column-start: 3;
  margin-top: 470px;
  margin-right: 10px;
}
.rating a {
  color: #aaa;
  text-decoration: none;
  font-size: 4em;
  transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
  color: orange;
  cursor: pointer;
}

.grid {
  display: grid;
  background-color: var(--secondary);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
}

body{
  color: var(--fontcolor);
  background-color: var(--secondary);
}

#titre{
  grid-row-start: 1;
  grid-column-start: 1;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 300%;
}

#imageLivre{
grid-row-start: 2;
margin-left: -130px;
margin-top: -50px;
width: 125%;
}

#Tdescription{
  margin-top: 50px;
  margin-left: -130px;
  grid-row-start: 2;
  grid-column-start: 2;
  font-size: 250%;
}

#description{
  margin-top: 105px;
  margin-left: -130px;
  grid-row-start: 2;
  grid-column-start: 2;
  font-size: 150%;
}

#buyLink{
  margin-top: 460px;
  margin-left: 320px;
  grid-row-start: 2;
  grid-column-start: 2;
  font-size: 150%;
}

#BookRead{
  margin-top: 460px;
  margin-left: -130px;
  grid-row-start: 2;
  grid-column-start: 2;
  font-size: 150%;
}

#BookHave{
  margin-top: 420px;
  margin-left: -130px;
  grid-row-start: 2;
  grid-column-start: 2;
  font-size: 150%;
}

.box{
  margin-right: 5px;
  transform : scale(2);
}