:root{
    --primary: rgb(0, 122, 204);
  }
  
  *{
    margin: 0;
  }
  
  body{
    font-family: Poppins, sans-serif;
    height: 100vh;
  }
  
  h1, h2{
    color: var(--fontcolor);
    font-weight:600;
  }


  /* ############################################ HEADER ############################################ */
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

nav {
    display: flex;
    height: 100%;
}

/*nav img {
    scale: 65%;
}*/

.nav_button {
    background-color: white;
    height: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 0px;
}

.nav_button:hover {
    background-color: rgb(180, 178, 176);
}

.nav_button:focus {
    background-color: rgb(128, 128, 127);
}

h1 {

}

.compte {

}

#img_compte {
    scale: 70%;
}

  /* ############################################ CONTENU ############################################ */

#contenu {
    height: 90%;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(155, 124, 124);
}

#gauche {
    width: 22%;
    background-image: url(../images/fond_librairie.png);
}

#filtre {
    height: 100%;
}

#filtre h2 {
    font-size: 2em;
    margin: 20px;
    margin-bottom: 40px;
    text-align: center;
}

#genre, #registre {
    margin-left: 20px;
    font-size: 1.5em;
}

#select_genre {
    margin-left: 30px;
}

#select_registre {
    margin-top: 100px;
    margin-left: 15px;
}

#checkbox_lu {
    margin-top: 120px;
}

#lu, #possession {
    margin-left: 20px;   
}


#droite {
    width: 78%; 
}

#input_recherche {
    width: 100%;
    height: 30px;
    font-size: 1em;
}

#input_recherche:focus {
    outline: none;
    box-shadow: 10px 5px 5px;
}